{% extends "beanstalk/base.html" %}

{% block content %}

<div id="status">
{% if not checks_errors %}

    <img src="/media/check-ok.jpg" style="float: left;margin-right: 50px;margin-left: 20px;"/>
    <h1>System ok. Running as expected.</h1>

    <div style="clear: both;"></div><br />
{% else %}

    <img src="/media/check-not-ok.jpg" style="float: left;margin-right: 50px;margin-left: 20px;"/>
    <h1>We've got some errors.</h1>
    <div style="clear: both"></div><br />
    <ul>
        {% for error in checks_errors %}
        <li><span style="color: red">{{ error }}</span</li>
        {% endfor %}
    </ul>

{% endif %}
</div>

<h2>global stats</h2>

{% if stats %}
    <table>
    <tr><th>Key</th><th>Value</th></tr>
    {% for key, value in stats.items %}
    <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
    {% endfor %}
    </table>
{% endif %}

<div class="clear"></div><br />
<h2>tube stats</h2>

<div style="width: 60%;">
{% for tube in tube_stats %}
    {% if tube %}
    <table style="float: left;margin: 15px;padding: 10px;border: 1px solid grey">
        <tr><th>Key</th><th>Value</th></tr>
        {% for key, value in tube.items %}
        <tr><td nowrap="1">{{ key }}</td><td nowrap="1">{{ value }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
{% endfor %}
<div style="clear: both"></div>
</div>

{% endblock %}

