{% extends "beanstalk/base.html" %}

{% block content %}

<style type="text/css">
    .stats td, .stats th {
       padding: 2px;
    }
</style>

<form action="/beanstalk/inspect/" method="post">
    <label>ID:</label>
    <input type="text" name="id" />
    <button type="submit">Inspect</button>
</form>

{% if job %}
<table class="stats">
    <tr><th>ID</th><td>{{ job.jid }}</td></tr>
    <tr><th>Body</th><td>
        <textarea rows="3" cols="80">{{ job.body }}</textarea>
    </td></tr>
    <tr><th valign="top">Stats</th><td>
        <table>
            <tr><th>Key</th><th>Value</th></tr>
        {% for key, value in stats %}
            <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
        {% endfor %}
        </table>
    </td></tr>
    <tr>
        <th>Options</th>
        <td>
            {% if buried %}
            <form action="/beanstalk/job/{{ job.jid }}/kick/" method="post" style="display: inline">
                <button type="submit">kick</button>
            </form>
            {% endif %}
            <form action="/beanstalk/job/{{ job.jid }}/delete/" method="post" style="display:inline" onsubmit="return confirm('Are you sure?')">
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
</table>
{% endif %}

{% endblock %}

